@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
}

.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
  grid-template-areas:
  "nv nv nv nv nv nv nv nv nv nv nv nv"
  ". . . . hd hd hd hd  . . . ."
  "mn mn mn mn mn mn mn mn mn mn mn mn"
  ". . . . . sct sct . . . . ."
  "ft ft ft ft ft ft ft ft ft ft ft ft";
}
nav{
  grid-area: nv;
}
header{
  grid-area: hd;

}
main{
  grid-area: mn;
}
section{
  grid-area: sct;
}
footer{
  grid-area: ft;
}



nav{
  display: grid;
  grid-auto-rows: minmax(65px, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:  "logo . . . menu";
}

.my-logo{
  grid-area: logo;
  margin: 0 0 0 22px;
}

.menu{
  grid-area: menu;
  align-self: center;
  margin: 0 22px 0 0;
  padding: 7px;
}

footer{
  margin: 6% 0 0 0;
}

section, header, footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

header, section{
   /* border: 2px solid black; */
   /* margin-left: 1em; */
}

nav{
  margin: 0;
  background-color: #6723C6;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  max-width: 100vw; /*possibly remove*/
  height: 65px;  /*possibly remove*/
}

header{
  position: relative;
  width: 205px;
  height: 205px;
  /* border: salmon 3px solid; */
}

.my-pic{
  border-radius: 100%;
  /* border: #6723C6 3px solid; */
  height: 205px;
  width: 210px;
}




/*---------------------------------------------------------------------------------------*/
/*Code for float shadow effect*/

/*glow button css */
button::before {
  background: #9DFFE4; /*00EFB5*/
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

button:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #9DFFE4;
}

button:hover {
  color: #B19EFF;
  /* box-shadow: 0 0 5px #B19EFF;
  text-shadow: 0 0 5px #B19EFF; */
}
/*----------------------------*/
.icons{
  opacity: 0.45;
}
.icons:hover {
  opacity: 1;
}
.my-pic:hover {
  opacity: 0.6;
  box-shadow: 0 0 5px #00EFB5;
  text-shadow: 0 0 5px #00EFB5;
}

/*-----------------------------------------*/



/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}




/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

/*---------------------------------------------------------------------------------------*/
/* img.my-pic {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;

}  /* top: 0px;
left: 0px; */



nav > img{
  width: 63px;
}


svg{
  background-color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 45px;
  height: 44px;  /* max-width: 90%; */
}

  /*Code for menu button https://codepen.io/ainalem/pen/LJYRxz  CodePen Home Flippin' burgers A PEN BY Mikael Ainalem*/
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:6.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
  /*End of code from Codepen*/

  h1{
       font-family: 'Segoe UI', sans-serif;
       font-style: bold;
       font-size: 36px;
       line-height: 45px;
       letter-spacing: -0.05em;
       text-align: left;
       padding: 0 0 20px 0;
       color: #fff;
     }

  p{
       font-family: 'Montserrat', sans-serif;
       font-style: normal;
       font-weight: 300;
       font-size: 18px;
  }

  button{

    /*Style for button text*/
    font-family: Helvetica Rounded;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    /* justify-content: center; */

    /* Appearance of button*/
    width: 169px;
    height: 48px;
    background: rgba(0, 0, 0, 0.86);
    border-radius: 100px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .icons{
    max-width: 40px;
    max-height: 40px;
    opacity: 0.82;
  }

/*Code from https://css-tricks.com/perfect-full-page-background-image/ to fix background to cover entire space*/
body{
  background: url(triangles.png) no-repeat center center fixed, linear-gradient(0deg, #6723C6 0%, rgba(0, 239, 181, 0.87) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}



/*   Mobile  */
@media only screen and (min-width: 18.75em){
/* min 300pxs */

.my-logo{
  width: 52px;
  padding: 5px;
  margin-left: 5%;
}

.menu{
  margin-right: 5%;
}

.my-pic{
  position: absolute;
  width: 170px;
  height: 175px;
}
  main{
    padding: 0 10% 0 10%;
  }
  .icons{
    margin: 8px;
  }

}

/*   Small Tablet  */
@media only screen and (min-width: 43.75em) and (max-width: 63.9375em){
/* @media screen and (min-width: 700px)  */
  /* body{
    background: green;
  } */

  .my-logo{
    width: 56px;
    padding: 4px 0;
  }
main{
  margin: 2% 30px 2% 30px; /*originally -10*/
  text-align: justify;
}
h1, p{
    text-align: center;
}

.line-break{
  display: none;
}

}

/*   Medium Tablet  */
@media only screen and (min-width: 64em) and (max-width: 87.4375em){
/* @media screen and (min-width: 1024px){  */
  /* body{
    background: yellow;
   } */
header{
  width: 330px;
}
  h1{
    font-size: 46px;
    text-align: center;
  }
  p{
    text-align: center;
  }
  .line-break{
    display: none;
  }
  .icons{
    margin: 6px;
  }

}


/*   Desktop  Large Screens*/
@media only screen and (min-width: 87.5em) {
/* min-width 1400px, large screens */
  /* body{
      background: red;
   } */

  .container{
    grid-template-areas:
    "nv nv nv nv nv nv nv nv nv nv nv nv"
    ". . . . . hd hd . . . . ."
    ". . . . . hd hd . . . . ."
    ". . . . . hd hd . . . . ."
    ". . . mn mn mn mn mn mn . . ."
    ". . . . . sct sct . . . . ."
    "ft ft ft ft ft ft ft ft ft ft ft ft";
  }

  p, h1{
    text-align: center;
  }

  h1{
    font-size: 56px;

  }
  .line-break{
    display: none;
  }

  .icons{
    margin: 8px;
  }

}
